<div class="row">
  <div class="col-md-6">
    <p>before {{ff?.tagName}}</p>
    <ul>
      <li *ngFor="let name of tablica" #ff>name:"{{name}}" <br/>variable tagName:{{ff.tagName}}</li>
    </ul>
    <p>after {{ff?.tagName}}</p>
  </div>
  <div class="col-md-6">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel title="template-variable.component.ts">
        <ng-template ngbPanelContent>
          <ms-local-source-assets
            filename="app/template-variable/template-variable.component.ts">
          </ms-local-source-assets>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="template-variable.component.html">
        <ng-template ngbPanelContent>
          <ms-local-source-assets
            filename="app/template-variable/template-variable.component.html">
          </ms-local-source-assets>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
