<div class="row">
  <div class="col-md-6">
    <p>before {{daj(ff)}}</p>
    <ul>
      <li *ngFor="let name of tablica" #ff>{{name}} - inside {{daj(ff)}}</li>
    </ul>
    <p>after {{daj(ff)}}</p>
  </div>
  <div class="col-md-6">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel title="template-variable.component.ts">
        <ng-template ngbPanelContent>
          <ms-github-source
            filename="ng-sandbox/master/src/app/template-variable/template-variable.component.ts"></ms-github-source>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="template-variable.component.html">
        <ng-template ngbPanelContent>
          <ms-github-source
            filename="ng-sandbox/master/src/app/template-variable/template-variable.component.html"></ms-github-source>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
