/* You can add global styles to this file, and also import other style files */
$fa-font-path : '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../node_modules/bootstrap/scss/bootstrap';

pre {
  font-size: 12px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}
body {
  padding: 1em;
}
